.app__not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;

    h1 {
        font-size: 5rem;
        font-weight: 600;
        color: var(--primary);
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 2rem;
        font-weight: 400;
        color: var(--text-600);
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.2rem;
        font-weight: 400;
        color: var(--text-800);
        margin: 1.5rem;

        a {
            color: var(--primary);
            font-weight: 600;
            text-decoration: none;

            &:hover {
                color: var(--primary-400);
            }
        }
    }
}