.experiences__container {
    display: grid;
    grid-template-columns: 1fr 15px 1fr;
    grid-template-areas: "a timeline b";
    margin: 3rem auto 6rem;
    height: 100%;
    width: 100%;
    max-width: 1500px;
    padding: 0 2rem;

    @media screen and (max-width: 900px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 100%;
        height: 100%;
        padding: 0 1.5rem;
    }

    .col-a {
        grid-area: a;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        margin-top: 2rem;
        gap: calc(400px / 3.1);
        color: var(--text-800);

        .exp {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: flex-end;
            // gap: 3rem;
            margin-right: -20px;
        }

        .exp__item {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            text-align: right;

        }
        .marker {
            transform: rotate(180deg);
        }
        .tags .tag-icon {
            margin-right: 0;
        }

        
    }


    .col-b {
        grid-area: b;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 5rem;
        gap: calc(450px / 2.1);
        color: var(--text-800);

        

        .exp {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            // gap: 3rem;
            margin-left: -20px;
        }

        .marker {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: var(--text-500);
        }

        .exp__item {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            text-align: left;

        }

        .tags__container {
            justify-content: flex-start;
          
        }

        @media screen and (max-width: 900px) {
            margin-top: 0;
            width: 100%;
            height: 100%;
            gap: 2rem;

            .exp {
                flex-direction: row;
                justify-content: flex-start;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    .timeline {
        grid-area: timeline;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .line {
            width: 2px;
            height: 100%;
            background: var(--text-500);
        }

        .arrow-start {
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 15px solid var(--text-500);
        }

        .dot-end {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: var(--text-500);
        }

        @media screen and (max-width: 900px) {
            margin: 0 1rem;
            width: 100%;
            height: 100%;

            
        }
    }
}
