@import url('./assets/styles/colors.css');

:root {
  --font-base: 'Rubik', sans-serif;

  /* --primary-color: #eceff8;
  --secondary-color: #557373;
  --black-color: #0d0d0d;
  --lightGray-color: #f2efea;
  --gray-color: #6b7688;
  --brown-color: #272401;
  --white-color: #ffffff; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.pointer {
  cursor: pointer;
}

.shadow {
  background-color: var(--background-opaque);
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.2));
  backdrop-filter: blur(12px);
}